@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="col-sm-4">
        <div class="panel panel-success ">
            <div class="panel-heading">
                Welcome Desk Schedule
                <div id="glyphWelcomeEdit" class="glyphicon glyphicon-edit pull-right"></div>
            </div>
            <div id="scheduleContent">
                <div class="panel-body">
                    <table class="table" style="width:100%;">
                        <tr>
                            <td>Febuary2015.doc</td>
                        </tr>
                        <tr>
                            <td>January2015.doc</td>
                        </tr>
                        <tr>
                            <td>December2014.doc</td>
                        </tr>
                    </table>
                    <button id="viewAll" class="btn btn-default">View All</button>
                </div>
                <div class="panel-body">
                    <div id="newSchedule" class="panel-body">
                        <div class="form-inline">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">File Upload</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                <button id="btnuploadSchedule" class="btn btn-primary"><div class="glyphicon glyphicon-download-alt"></div></button>
                            </div>

                            <div class="btn-group">
                                <button id="btnAddNewSchedule" class="btn btn-primary">Add</button>
                                <button id="btnCancelNewSchedule" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success ">
            <div class="panel-heading">
                St Catharines Day Hospice Schedule
                <div id="glyphWelcomeEdit" class="glyphicon glyphicon-edit pull-right"></div>
            </div>
            <div id="scheduleContent">
                <div class="panel-body">
                    <table class="table" style="width:100%;">
                        <tr>
                            <td>Febuary2015.doc</td>
                        </tr>
                        <tr>
                            <td>January2015.doc</td>
                        </tr>
                        <tr>
                            <td>December2014.doc</td>
                        </tr>
                    </table>
                    <button id="viewAll" class="btn btn-default">View All</button>
                </div>
                <div class="panel-body">
                    <div id="newSchedule" class="panel-body">
                        <div class="form-inline">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">File Upload</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                <button id="btnuploadSchedule" class="btn btn-primary"><div class="glyphicon glyphicon-download-alt"></div></button>
                            </div>

                            <div class="btn-group">
                                <button id="btnAddNewSchedule" class="btn btn-primary">Add</button>
                                <button id="btnCancelNewSchedule" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-success ">
            <div class="panel-heading">
                Residential Schedule
                <div id="glyphWelcomeEdit" class="glyphicon glyphicon-edit pull-right"></div>
            </div>
            <div id="scheduleContent">
                <div class="panel-body">
                    <table class="table" style="width:100%;">
                        <tr>
                            <td>Febuary2015.doc</td>
                        </tr>
                        <tr>
                            <td>January2015.doc</td>
                        </tr>
                        <tr>
                            <td>December2014.doc</td>
                        </tr>
                    </table>
                    <button id="viewAll" class="btn btn-default">View All</button>
                </div>
                <div class="panel-body">
                    <div id="newSchedule" class="panel-body">
                        <div class="form-inline">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">File Upload</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                <button id="btnuploadSchedule" class="btn btn-primary"><div class="glyphicon glyphicon-download-alt"></div></button>
                            </div>

                            <div class="btn-group">
                                <button id="btnAddNewSchedule" class="btn btn-primary">Add</button>
                                <button id="btnCancelNewSchedule" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success ">
            <div class="panel-heading">
                Welland Day Hospice Schedule
                <div id="glyphWelcomeEdit" class="glyphicon glyphicon-edit pull-right"></div>
            </div>
            <div id="scheduleContent">
                <div class="panel-body">
                    <table class="table" style="width:100%;">
                        <tr>
                            <td>Febuary2015.doc</td>
                        </tr>
                        <tr>
                            <td>January2015.doc</td>
                        </tr>
                        <tr>
                            <td>December2014.doc</td>
                        </tr>
                    </table>
                    <button id="viewAll" class="btn btn-default">View All</button>
                </div>
                <div class="panel-body">
                    <div id="newSchedule" class="panel-body">
                        <div class="form-inline">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">File Upload</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                <button id="btnuploadSchedule" class="btn btn-primary"><div class="glyphicon glyphicon-download-alt"></div></button>
                            </div>

                            <div class="btn-group">
                                <button id="btnAddNewSchedule" class="btn btn-primary">Add</button>
                                <button id="btnCancelNewSchedule" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        </div>

    <div class="col-sm-4">
        <div class="panel panel-success ">
            <div class="panel-heading">
                Pet Therapy Schedule
                <div id="glyphWelcomeEdit" class="glyphicon glyphicon-edit pull-right"></div>
            </div>
            <div id="scheduleContent">
                <div class="panel-body">
                    <table class="table" style="width:100%;">
                        <tr>
                            <td>Febuary2015.doc</td>
                        </tr>
                        <tr>
                            <td>January2015.doc</td>
                        </tr>
                        <tr>
                            <td>December2014.doc</td>
                        </tr>
                    </table>
                    <button id="viewAll" class="btn btn-default">View All</button>
                </div>
                <div class="panel-body">
                    <div id="newSchedule" class="panel-body">
                        <div class="form-inline">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">File Upload</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                <button id="btnuploadSchedule" class="btn btn-primary"><div class="glyphicon glyphicon-download-alt"></div></button>
                            </div>

                            <div class="btn-group">
                                <button id="btnAddNewSchedule" class="btn btn-primary">Add</button>
                                <button id="btnCancelNewSchedule" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success ">
            <div class="panel-heading">
                Event Schedules
                <div id="glyphWelcomeEdit" class="glyphicon glyphicon-edit pull-right"></div>
            </div>
            <div id="scheduleContent">
                <div class="panel-body">
                    <table class="table" style="width:100%;">
                        <tr>
                            <td>Febuary2015.doc</td>
                        </tr>
                        <tr>
                            <td>January2015.doc</td>
                        </tr>
                        <tr>
                            <td>December2014.doc</td>
                        </tr>
                    </table>
                    <button id="viewAll" class="btn btn-default">View All</button>
                </div>
                <div class="panel-body">
                    <div id="newSchedule" class="panel-body" >
                        <div class="form-inline">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">File Upload</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                <button id="btnuploadSchedule" class="btn btn-primary"><div class="glyphicon glyphicon-download-alt"></div></button>
                            </div>

                            <div class="btn-group">
                                <button id="btnAddNewSchedule" class="btn btn-primary">Add</button>
                                <button id="btnCancelNewSchedule" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
