
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="col-sm-6">
        <div class="panel panel-success ">
            <div class="panel-heading">
                Announcements
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default ">
            <div class="panel-heading">
                Notices of Death
                <div id="glyphDeathHide" class="glyphicon glyphicon-collapse-down pull-right"></div>
                <div id="glyphDeathShow" class="glyphicon glyphicon-collapse-up pull-right"></div>
            </div>
            <div id="deathNoticeContent" class="panel-body">
                <table class="table table-striped table-bordered" style="width:100%;">
                    <tr><td>Name</td><td>Date</td><td>Location</td><td>Notes</td></tr>
                    <tr><td>Joe Smith</td><td>December 16, 2014</td><td>Community Client</td><td>Volunteer: Ted Tennant</td></tr>
                    <tr><td>Rachel Jones</td><td>December 14, 2014 </td><td>The Stabler Centre</td><td>Room 4</td></tr>
                    <tr><td>Mary Brown</td><td>December 8, 2014</td><td>NN Outreach Team</td><td>&nbsp;</td></tr>
                    <tr><td>Sally Williams</td><td>November 30, 2014</td><td>NS Outreach Team</td><td>&nbsp;</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
        //Hides death notices by default
        $('#glyphDeathHide').hide();
        $('#deathNoticeContent').hide();

        //Controls hiding and showing the death notices
        $('#glyphDeathHide').on('click', function () {
            $('#deathNoticeContent').slideToggle();
            $('#glyphDeathHide').hide();
            $('#glyphDeathShow').toggle();
        });

        $('#glyphDeathShow').on('click', function () {
            $('#deathNoticeContent').slideToggle();
            $('#glyphDeathShow').hide();
            $('#glyphDeathHide').show();
        });
    });
</script>
