
@{
    ViewBag.Title = "Events";
}

<h2 class="page-header">Organizational Resources</h2>
<div class="col-sm-8">
    <div class="panel panel-success ">
        <div class="panel-heading">
            Events
        </div>
        <div class="panel-body">
            <div class="panel-body-toolbar form-inline">
                <input class="btn btn-default" type="button" value="Upload" id="btnUpload" />
                <input class="form-control" id="txtSearchByEvent" type="text" placeholder="Search by Event" />
                <input class="form-control" id="txtSearchByName" type="text" placeholder="Search by Filename" />
            </div>
            <table class="table table-striped table-bordered" style="width:100%;">
                <tr>
                    <td>Event</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Download/Edit</td>
                </tr>
                <tr>
                    <td>Five Car Draw</td>
                    <td>TicketSellerInfo.doc</td>
                    <td>Information Sheet for Ticket Sellers</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button id="Download" class="btn btn-primary">Download</button>
                            <button id="Edit" class="btn btn-default">Edit</button>
                            <button id="Delete" class="btn btn-danger">Delete</button>
                        </div>
                    </td>
                </tr>
            </table>
            <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next"</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>