
@{
    ViewBag.Title = "RelatedLinks";
}

<div class="col-sm-6">
    <div class="panel panel-success">
        <div id="linkContent" class="panel-heading">
            Related Links
        </div>
        <div class="panel-body">
            <ul class="Links-Index">
                <li>Hospice Niagara Newsletter</li>
                <li>Logvolunteeertime.com</li>
                <li>Education Website</li>
                <li>Donation Website</li>
                <li>5 Car Draw Website</li>
                <li>Hike for Hospice Niagara Website</li>
                <li>Hospice Palliative Care Ontario</li>
                <li>HNHB CCAC</li>
                <li>HNHB LHIN</li>
                <li>MOHLTC</li>
            </ul>
        </div>
    </div>
</div>