
@{
    ViewBag.Title = "RelatedLinks";
}

<h2 class="page-header">Organizational Resources</h2>
<div class="col-sm-6">
    <div class="panel panel-success">
        <div id="linkContent" class="panel-heading">
            Related Links
        </div>
        <div class="panel-body">
            <ul class="list media-list">
                <li><a href="http://www.hospiceniagara.ca">Hospice Niagara Website</a></li>
                <li><a href="http://www.hospiceniagara.ca/resources/default/index/">Hospice Niagara Newsletter</a></li>
                <li><a href="http://www.hpceducation.ca">HPC Education Website</a></li>
                <li><a href="https://www.hospiceniagara.ca/donations/donate.php">Hospice Niagara Online Donation Website</a></li>
                <li><a href="https://www.facebook.com/pages/Hospice-Niagara/157424072710?ref=ts">Facebook</a></li>
                <li><a href="https://twitter.com/HospiceNiagara">Twitter</a></li>
                <li><a href="http://www.hikeforhospiceniagara.ca">Hike for Hospice Niagara Website</a></li>
            </ul>
        </div>
    </div>
</div>