
@{
    ViewBag.Title = "Staff_RelatedLinks";
}

<div class="col-sm-6">
    <div class="panel panel-success">
        <div id="linkContent" class="panel-heading">
            Staff Related Links
        </div>
        <div class="panel-body">
            <ul class="Links-Index">
                <li>QHRnet: https://css.hr.ccim.on.ca/HospiceNiagara </li>
                <li>EAP Program:</li>
                <li>Office 365: https://portal.microsoftonline.com</li>
                <li>Green Sheild: www.greenshield.ca</li>
            </ul>
        </div>
    </div>
</div>

