

<a href="../../MeetingUserRSVPs/" style="color:white">
    @if(Model != 0)
    {
        <span class="badge pull-right" style="margin-top:2px; background-color:green;">@Model</span>
    }
    Invitations</a>

