@{
    ViewBag.Title = "Index";
}
<div class="container body-content LogInPage">
    @*<div class="front-bg">
        <img class="front-image" src="~/Resources/Exterior-frontdoor.png">
    </div>*@

    <div id="LogInContent">
        <input type="text" placeholder="UserName">
        <br />
        <br />
        <input type="text" placeholder="Password">
        <br />
        <br />
        <button class="btn-default">Log In</button>
        <button class="btn-default">Forgot Password</button>
     </div>
</div>
