@{
    ViewBag.Title = "Index";
}
<div class="body-content LogInPage">
    <div class="center-block LogInContent" id="LogInContent">
        <input class="form-control" type="text" placeholder="UserName">
        <br />
        <input class="form-control" type="text" placeholder="Password">
        <br />
        <button id="logInButton" class="btn-info btn-lg">Log-In</button>
        <button id="forgotPasswordButton" class="btn-danger btn-lg">Forgot Password</button>
     </div>
</div>
