@{
    ViewBag.Title = "Index";
}
<div class="body-content LogInPage">
    @*<div class="front-bg">
        <img class="front-image" src="~/Resources/Exterior-frontdoor.jpg">
    </div>*@

    <div class="center-block" id="LogInContent">
        <input type="text" placeholder="UserName">
        <br />
        <br />
        <input type="text" placeholder="Password">
        <br />
        <br />
        <button class="btn-info">Log In</button>
        <button class="btn-info">Forgot Password</button>
     </div>
</div>
