
@{
    ViewBag.Title = "Admin";
}

@if (User.IsInRole("Administrator"))
{
    <div class="col-sm-3">
        <div class="panel panel-success ">
            <div class="panel-heading">
                <span title="Data Maintenance" data-content="Here you can access administrative views of the major data in the system. This enables you to access files regardless of assigned roles, or whether the date of the record has passed." class="glyphicon glyphicon-info-sign pull-right" data-toggle="popover" data-placement="bottom" data-trigger="hover"></span>
                Data Maintenance
            </div>
            <ul class="list-group text-center">
                <li class="list-group-item btn btn-default" onclick="location.href='../DeathNotice/AdminList';"><a style="text-decoration:none;">View all RIPs</a></li>
                <li class="list-group-item btn btn-default" onclick="location.href='../Announcement/AdminList';"><a style="text-decoration:none;">View all Announcements</a></li>
                <li class="list-group-item btn btn-default" onclick="location.href='../Meeting/AdminList';"><a style="text-decoration:none;">View all Events</a></li>
                <li class="list-group-item btn btn-default" onclick="location.href='../Schedule/AdminList';"><a style="text-decoration:none;">View all Schedules</a></li>
                <li class="list-group-item btn btn-default" onclick="location.href='../Contacts/AdminList';"><a style="text-decoration:none;">View all Contacts</a></li>
                <li class="list-group-item btn btn-default" onclick="location.href='../Filestorages/AdminList';"><a style="text-decoration:none;">Delete Old Files</a></li>
            </ul>
        </div>
    </div>
}
@if (User.IsInRole("Manage Users") || User.IsInRole("Administrator"))
{
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span title="User Management" data-content="Here you can register new users and modify existing ones, as well as modify user roles." class="glyphicon glyphicon-info-sign pull-right" data-toggle="popover" data-placement="bottom" data-trigger="hover"></span>
                Manage Users
            </div>
            <ul class="list-group text-center">
                <li class="list-group-item btn btn-default" onclick="location.href = '../Account/Register';"><a style="text-decoration:none;">Register New Users</a></li>
                <li class="list-group-item btn btn-default" onclick="location.href = '../ApplicationUsers/Index';"><a style="text-decoration:none;">Manage Users</a></li>
                @if (User.IsInRole("Administrator"))
                {
                    <li class="list-group-item btn btn-default" onclick="location.href = '../RoleLists/Index';"><a style="text-decoration:none;">Manage Roles</a></li>
                }
            </ul>
        </div>
    </div>
}
@if (User.IsInRole("Administrator"))
{
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span title="User Management" data-content="Here you can access and modify all other site data." class="glyphicon glyphicon-info-sign pull-right" data-toggle="popover" data-placement="bottom" data-trigger="hover"></span>
                Site Maintenance
            </div>
            <ul class="list-group text-center">
                <li class="list-group-item btn btn-default" onclick="location.href = '../FileCats/Index';"><a style="text-decoration:none;">Manage File Categories</a></li>
                <li class="list-group-item btn btn-default" onclick="location.href = '../FileSubcats/Index';"><a style="text-decoration:none;">Manage File Subcategories</a></li>
                <li class="list-group-item btn btn-default" onclick="location.href = '../SchedTypes/Index';"><a style="text-decoration:none;">Manage Schedule Types</a></li>
                <li class="list-group-item btn btn-default" onclick="location.href = '../ContactTypes/Index';"><a style="text-decoration:none;">Manage Contact Types</a></li>
                <li class="list-group-item btn btn-default" onclick="location.href = '../DeathNoticePoems/Index';"><a style="text-decoration:none;">Manage Death Notice Poems</a></li>
                <li class="list-group-item btn btn-default" onclick="location.href = '../WelcomeNotice/Edit/1';"><a style="text-decoration:none;">Edit Welcome Notice</a></li>
            </ul>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>