
@{
    ViewBag.Title = "Index";
}

<div class="col-sm-3">
    <div class="panel panel-success ">
        <div class="panel-heading">
            Quick Links
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>
                        <a href=../DeathNotice/AdminList>Death Notices</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href=../Announcement/AdminList>Announcements</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href=../Contact/AdminList>Contacts</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href=../Account/Register>Register New Users</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href=../RoleLists/Index>Manage Roles</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href=../ApplicationUsers/Index>Remove Users</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href=../FileCats/Index>File Categories</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>