@model HospiceNiagara.Models.DeathNoticePoems

@{
    ViewBag.Title = "Details";
}

@*<h2>Poem Details</h2>*@

<div>
	@*<hr />*@
    <div class="panel panel-success">
        <div class="panel-heading" style="font-size:20px;">
            Poem Details
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                @*<dt>
                    @Html.DisplayNameFor(model => model.DnPoem)
                </dt>*@

                <dd>
                    @Html.DisplayFor(model => model.DnPoem)
                </dd>
            </dl>
        </div>
    </div>

</dl>
</div>
<p class="text-center">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
