@model HospiceNiagara.Models.FileCat

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="panel panel-success">
        <div class="panel-heading">
            File Category Details
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FileCatName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FileCatName)
                </dd>

            </dl>
        </div>
    </div>
</div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
