body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size:14px;
    font-family: 'Lato', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Custom CSS*/
.navbar{
    border-bottom: 5px solid #1f740b;
}

/*Gradient Background for navbar*/
.navbar-default {
  background-image: -moz-linear-gradient(top, #272727, #464646, #272727);
  background-image: linear-gradient(top, #272727, #464646, #272727);
  background-image: -webkit-linear-gradient(top, #272727, #464646, #272727);
}


/*Hover turns navbar buttons green*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #1f740b;
}

.nav-selected{
  color: #ffffff;
  background-color: #1f740b;
}

/*pushs navbar navigations down and right*/
.navbar-down-right {
    padding-top:57px;
    
}

.navbar-nav {
    font-size: 20px;
}


/*Pushes body content out from under navbar*/
.body-content {
    padding-top: 85px;
}

/*Puts a line on the top of footer*/
.footer {
    border-top: 1px solid #808080;
    /*position: absolute;
    left: 0;
    right: 0;
    width: 100%;*/
}

/*background image*/
.footer {
    /*background-color: #ebebeb;*/
    background-image: url(../Resources/Stabler-Centre---White.png);
}

/*Gets rid of bullet points on contact information*/
 ul {
 list-style-type: none;
 }

 /*pushes copy right down*/
 .copyright {
     padding-top: 140px;
 }


 #EventPanel {
     max-height: 600px;
 }

  .panel-body-toolbar{
     padding-bottom:5px;
 }

  .input-group{
      padding-bottom:10px;
  }

/*Aligning the background image*/
  .LogInPage {
    border-top: 3px solid #000000;
    border-bottom: 2px solid #000000;
    position: absolute;
    left: 0;
    right: 0;
    /*width: 1920px;*/
    height: 80%;
    width: 100%;
    /*height: 810px;*/
  }
 
/*Log In background image*/
  .LogInPage {
     background-image: url(../Resources/Exterior-frontdoor-login.jpg);
     background-repeat: no-repeat;
     /*align-content: center;*/
  }

  #LogInPanel {
    position:fixed;
    top: 50%;
    left: 50%;
  }

#Panel-Body-Color {
    background-color: rgba(255,255,255,0.0);
}

  .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brandName {
    padding-top: 40px;
}

.LogInContent {
  padding-left: 15px;
}

#deathnoticebutton {
    margin-left:16px;
}

#storageimage {
    margin-top: 15px;
    margin-left: 80px;
}

#selectButtons {
    margin-top: 30px;
}

.select-button {
    padding-bottom:5px;
}

.handwriting{
      font: 400 23px/0.8 'Great Vibes', Helvetica, sans-serif;
      color: #000000;
      text-shadow:none;
}

.handwriting-title{
      font: 400 30px/0.8 'Great Vibes', Helvetica, sans-serif;
      color: #fff;
      text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

#glyphNewDeathNotice{
    font-size:20px;
    font-family: 'Lato', sans-serif;
}