body {
    font-size:14px;
    font-family: 'Lato', sans-serif;
}

#bodyContent{
    padding-top:125px;
}

#link-images{
    margin-top:25px;
    text-align:center;
}

#link-images a img{
    height:30px;
    padding-left:3px;
    padding-right:3px;
}

footer{
    background: none repeat scroll 0 0 #dedede;
    box-shadow: -3px 0px 10px -6px #000000, 3px 0px 10px -6px
}

#footerRow{
    padding-top:10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Custom CSS*/
.navbar{
    border-bottom: 5px solid #1f740b;
}

/*Gradient Background for navbar*/
.navbar-default {
  background-image: -moz-linear-gradient(top, #272727, #464646, #272727);
  background-image: linear-gradient(top, #272727, #464646, #272727);
  background-image: -webkit-linear-gradient(top, #272727, #464646, #272727);
  background: -ms-linear-gradient(top, #272727, #464646, #272727 100%); /* IE10+ */
}


/*Hover turns navbar buttons green*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #1f740b;
}

.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   color: #1f740b;
   background-color: #1f740b;
   border-color: #1f740b;
}

.nav-selected{
  color: #ffffff;
  background-color: #1f740b;
}

/*pushs navbar navigations down and right*/
.navbar-down-right {
    padding-top:57px;
}

.navbar-nav {
    font-size: 20px;
}


/*Pushes body content out from under navbar*/
.body-content {
    padding-top: 85px;
}

/*Puts a line on the top of footer*/
.footer {
    border-top: 1px solid #808080;
    /*position: absolute;
    left: 0;
    right: 0;
    width: 100%;*/
}

 /*pushes copy right down*/
 .copyright {
     margin-top:50px;
 }


 #EventPanel {
     max-height: 600px;
 }

.panel-body-toolbar{
     padding-bottom:5px;
 }

.input-group{
      padding-bottom:10px;
  }

/*Aligning the background image*/
  .LogInPage {
    position: absolute;
    left: 0;
    right: 0;
    width: 1920px;
    height: 100%;
    width: 100%;
    height: 810px;
  }
 
/*Log In background image*/
  .LogInPage {
     background-image: url(../Resources/Login.jpg);
     background-size: cover;
  }

  #LogInPanel {
    margin-left:auto;
    margin-right:auto;
    margin-top:15%;
  }

#Panel-Body-Color {
    background-color: rgba(255,255,255,0.0);
}

 .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brandName {
    padding-top: 40px;
}

.LogInContent {
  padding-left: 15px;
}

#deathnoticebutton {
    margin-left:16px;
}

#storageimage {
    margin-top: 15px;
    margin-left: 80px;
}

.handwriting{
      font-family: 'Rochester', cursive;
      font-size:18px;
      color: #000000;
      text-shadow:none;
}

.handwriting-title{
      font-family: 'Rochester', cursive;
      font-size:20px;
      color: #fff;
      text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.glyphicon{
    cursor: default;
}

.glyphicon-plus{
    font-size:16px;
}

.panel-heading{
    text-align:center;
}

.panel-body{
    max-height:700px;
    overflow-y:auto; 
}

#fileDetailsBody{
    max-height:none;
}

#deathnoticePoem{
    padding-top:40px;
}

/*Font Size and Alignment of Recently Passed Poems*/
.handwritingPoem{
      font-family: 'Rochester', cursive;
      font-size:20px;
      color: #000000;
      text-shadow:none;
      text-align:center;
}

#navbarButton{
    margin-top:30px;
}

#LogInPartial{
        margin-right:5px;
    }

@media (max-width: 1155px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
    .navbar-down-right {
        padding-top:0px;
    }
    #LogInPartial{
        margin-left:128px;
        margin-top:60px;
    }
}

@media (max-width: 400px){
    #brandName{
        display:none;
    }
    #LogInPartial{
        margin-left:108px;
        margin-top:25px;
        width: 50%;
    }
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
   position: absolute;
   top: 46%;
   z-index: 5;
   display: inline-block;
   margin-right: -15px;
   margin-left: -10px;
}

div.jHtmlArea {
    width: 100% !important;
    height: 100% !important;
}

.detailsPDF{
    height:500px;
    width:inherit;
}

.listIMG{
    background-color:black;
}

.listIMG img{
    max-height: 149px;
    margin-left:auto;
    margin-right:auto;
}

.detailsIMG{
    background-color:black;
}

.detailsIMG img{
    max-height: 340px;
    margin-left:auto;
    margin-right:auto;
}

.listPanel {
    overflow-y:visible; 
    min-height: 190px;
    max-height: 190px;
}

#EventPanel{
    min-height: 189px;
    max-height: 189px;
}

.search-result-item:hover{
    background-color: #F5F0F0;
    cursor: default;
}

#btnRemoveFile{
    max-width: 280px;
}

#searchResults{
    max-width:280px; 
    position:absolute;
}

@media (max-width: 992px){
    .listPanel { 
    max-height: 380px;
    }

    #EventPanel{
    min-height: 189px;
    max-height: 380px;
    }
}

#txtFileSearch{
    max-width:none;
}

textarea{
    max-width:none;
    width:inherit;
}

.popover{
    max-width: 700px; /* Max Width of the popover (depending on the container!) */
}

.dropdown-menu{
    width:189px;
    border:none;
}

.datepicker{
    width:auto;
}

