@{
    ViewBag.Title = "Home Page";
}
<br />

<div class="container">

<div class="col-sm-4">
    <div class="panel panel-success ">
        <div class="panel-heading">
            Announcements
        </div>
        <div class="panel-body">
            Introduction and Welcome area
            b.
            Area/box with announcements and newly added information/resources relevant to user type
            c.
            Area/box with upcoming meetings/actions required (i.e. RSVP) relevant
            to user type
            d.
            Link to
            death notices
            e.
            Link to
            volunteer schedules if applicable
            f.
            Link
            and Welcome
            to New Staff/Volunteer/Board information as applicable
            g.
            Logo
            and portal branding
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            Welcome
            <div id="glyphWelcomeEdit" class="glyphicon glyphicon-edit pull-right"></div>
        </div>
        <div id="welcomeText" class="panel-body">
            Welcome to the Hospice Niagara Portal
        </div>
        <div id="editWelcomeText" class="panel-body" hidden>
            <div>
                <textarea id="editWelcomeText" class="form-control" rows="4"></textarea>
                <button id="btnUpdateWelcomeText" class="btn btn-default">Update</button>
            </div>
            
        </div>
        
        
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            Links
        </div>
        <div class="panel-body">
        
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="panel panel-success">
        <div class="panel-heading">
        Upcoming
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>

</div>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {

        //Editing the Welcome Widget
        $('#glyphWelcomeEdit').on('click', function () {
            $('#welcomeText').toggle();
            $('#editWelcomeText').toggle();
        });

        $('#btnUpdateWelcomeText').on('click', function () {
            $('#editWelcomeText').toggle();

            $('#welcomeText').toggle();
        });
    });
</script>