@{
    ViewBag.Title = "Home Page";
}
<br />

<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="panel panel-success ">
    <div class="panel-heading">
        Announcements
    </div>
    <div class="panel-body">

    </div>
</div>
</div>

<div class="col-sm-4">
<div class="panel panel-info">
    <div class="panel-heading">
        Welcome
    </div>
    <div class="panel-body">

    </div>
</div>
</div>

<div class="col-sm-4">
<div class="panel panel-success">
    <div class="panel-heading">
        Upcoming
    </div>
    <div class="panel-body">

    </div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-4 col-sm-offset-4">
<div class="panel panel-success">
    <div class="panel-heading">
        Links
    </div>
    <div class="panel-body">
        
    </div>
</div>
</div>
</div>
</div>