@{
    ViewBag.Title = "Home Page";
}
<br />

<div class="container">

<div class="col-sm-4">
    <div class="panel panel-success ">
        <div class="panel-heading">
            Announcements
        </div>
        <div class="panel-body">
            Introduction and Welcome area
            b.
            Area/box with announcements and newly added information/resources relevant to user type
            c.
            Area/box with upcoming meetings/actions required (i.e. RSVP) relevant
            to user type
            d.
            Link to
            death notices
            e.
            Link to
            volunteer schedules if applicable
            f.
            Link
            and Welcome
            to New Staff/Volunteer/Board information as applicable
            g.
            Logo
            and portal branding
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            Welcome
            <div class="glyphicon glyphicon-edit pull-right"></div>
        </div>
        <div class="panel-body">
            
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            Links
        </div>
        <div class="panel-body">
        
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="panel panel-success">
        <div class="panel-heading">
        Upcoming
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>

</div>