
@{
    ViewBag.Title = "Confirmation Email Sent ";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        Confirmation Email sent to @ViewBag.Email please have user verify Email to finalize registration
    </div>

</div>

