
@{
    ViewBag.Title = "Index";
}

<div class="col-sm-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            Events
            <div id="glyphAddEvent" class="glyphicon glyphicon-edit pull-right"></div>
        </div>
        <div class="panel-body" id="EventPanel">
            <table class="table table-striped table-bordered" style="width:100%;">
                <tr>
                    <td>Type</td>
                    <td>Description</td>
                    <td>Date</td>
                    <td>Location</td>
                    <td>Requirements</td>
                    <td>Presentations</td>
                    <td>Staff Lead and Contact Information</td>
                    <td>Volunteer Roles</td>
                </tr>
                <tr><td>@Html.ActionLink("Annual Volunteer Retreat", "VolunteerEvent", "Announcement")</td><td>As part of our celebration of National Volunteer Week, Hospice Niagara is once again treating its volunteers to a day-long retreat to show our appreciation for all that you do. This is a day of self-care for</td><td>Saturday, April 20th</td><td>The Stabler Centre</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>Staff Holiday Party</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>Holiday Open House</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>Board Meeting</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            </table>
            <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next"</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>