

@{
    ViewBag.Title = "Index";
}
@* Limits panel to 8 *@
<div class="col-sm-8">
    @* Meeting Panel *@
    <div class="panel panel-success">
        @* Panel Heading *@
        <div class="panel-heading">
            <span id="EventsTitle">Events</span>
            <span id="newMeetingEventTitle" hidden>New Event</span>
            <div id="glyphAddEvent" class="glyphicon glyphicon-plus pull-right"></div>
        </div>
        @* Ask Chantal *@
        <div id="Event">
            @* Main Body *@
            <div class="panel-body" id="EventPanel">
                
            </div>
            @* New Meeting Body *@
            <div class="panel-body" id="NewEvent" hidden>
                
            </div>            
        </div>
    </div>
</div>

<div class="col-sm-4" id="panelEventDesc" hidden>
    <div class="panel panel-success">
        <div class="panel-heading">
            Description
        </div>
        <div class="panel-body">
            <p>

            </p>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
        $('#glyphAddEvent').on('click', function () {
            $('#EventsTitle').slideToggle();
            $('#EventPanel').slideToggle();
            $('#NewEvent').slideToggle();
            $('#newMeetingEventTitle').slideToggle();
            $('#glyphAddEvent').fadeToggle();
        });

        $('#btnAddNewEvent').on('click', function () {
            $('#EventsTitle').slideToggle();
            $('#EventPanel').slideToggle();
            $('#NewEvent').slideToggle();
            $('#newMeetingEventTitle').slideToggle();
            $('#glyphAddEvent').fadeToggle();
        });

        $('#btnCancelNewEvent').on('click', function () {
            $('#EventsTitle').slideToggle();
            $('#EventPanel').slideToggle();
            $('#NewEvent').slideToggle();
            $('#newMeetingEventTitle').slideToggle();
            $('#glyphAddEvent').fadeToggle();
        });
        $(document).ready(function () {
            $('#glyphEventDesc').on('click', function () {
            $('#panelEventDesc').slideToggle();
        });
    });
</script>